*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

body{
    display: flex;
    min-height: 100vh;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.sidebar{
    background-color: #084c61;
    display: flex;
    flex-direction: column;
    flex-basis: 10%;
    gap: 2rem;
    color: white;
} 

.sidebar-title{
    margin: 0.75rem;
    margin-top: 2rem;
    
}

.nav-one, .nav-two{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
    margin: 0.75rem;
}

.nav-two{
    margin-top: 3rem;
}

.nav-link{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
    gap: 1rem;
}


.mainDashboard{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column;
    flex-basis: 15%;
    border-bottom: solid #757271;
}

.headerTop, .headerBottom{
    margin: 0.75rem;
}

.headerTop{
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
}

.top-right{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}


.headerBottom{
    display: flex;
    flex-basis: 50%;
    justify-content: space-between;
    align-items: center;
}

.bottom-left{
    flex: 1;
}

.bottom-right{
    display: flex;
}

.bottom-right > ul{
    display: flex;
    gap: 2rem;
}


.mainContainer{
    background-color: #e7e5e4;
    display: flex;
    flex: 1;
}

.projectsContainer{
    display: flex;
    flex: 1;
    flex-direction: column;
}

.projects{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;

    gap: 20px; 
    height: auto;
    flex: 1;
}

.projectItem{
    border: solid rgb(0, 26, 255);
    margin-left: 0.75rem;
    margin-right: 0.75rem;
}

.container-title{
    margin: 0.75rem;
}

.rightContainer{
    display: flex;
    flex-direction: column;
    flex-basis: 20%;
}

.rightboxes{
    display: grid;
    grid-template-rows: 1fr;
    flex: 1;
}

.rightBottom, .rightTop  {
    display: flex;
    flex-direction: column;
    flex: 1;    
}

